.avatar {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    position: relative;
    z-index: 1;
}

.avatar__container {
    height: 300px;
    width: 300px;
    border-radius: 4px;
    overflow: hidden;
    background-color: rgb(100, 255, 218);
    z-index: 1;
}

.avatar__img {
   width: 100%;
   height: 100%;
}

.avatar__border {
    height: 300px;
    width: 300px;
    position: absolute;
    right: -4%;
    top: 5%;
    z-index: 0;
    border-radius: 4px;
    border: 1px solid rgb(100, 255, 218);
}

.avatar__container:hover  + .avatar__border {
    position: absolute;
    right: -3%;
    top: 3%;
}


