.btn {
}

.btn:hover {
    background-color: var(--dark-green-bg-color);
}

.btn--big {
    border: 1px solid var(--primary-txt-color);
    font-size: 17px;
    width: 140px;
    padding: 18px 18px;
}

.btn--small {
    border: 1px solid var(--primary-txt-color);
    font-size: 13px;
    width: 70px;
    padding: 12px 16px;
}

