.btn {
    text-decoration: none;
    color: rgb(10, 238, 185);
    cursor: pointer;
    border-radius: 3px;
   
    font-family: 'Fira Code', monospace;
    text-align: center;
}

.btn:hover {
    background-color: rgb(20, 92, 75);
}

.btn--mr-50 {
    margin-right: 50px;
}

.btn--ml-50 {
    margin-left: 50px;
}

.btn--mt-50 {
    margin-top: 50px;
}

.btn--mb-300 {
    margin-bottom: 300px;
}


.btn--big {
    border: 1px solid rgb(10, 238, 185);
    font-size: 17px;
    width: 140px;
    padding: 18px 18px;
}

.btn--small {
    border: 1px solid rgb(10, 238, 185);
    font-size: 13px;
    width: 70px;
    padding: 12px 16px;
}

