.email {
    right: -5%;
}

.email__content {
    margin-bottom: 160px;
}

.email__content:hover {
    color: var(--primary-txt-color);
}

.email__line {
    border-left: 1px solid var(--dark-gray-txt-color);
    height: 100px;
}