.email {
    right: 0;
    width: 10%;
}

.email__content {
    margin-bottom: 160px;
}

.email__content:hover {
    color: var(--primary-color);
}

.email__line {
    border-left: 1px solid var(--dark-gray-color);
    height: 100px;
}