.list-item {
  list-style-type: none;
  padding-left: 0;
  display: flex;
}

.list-item--flex-start {
  justify-content: flex-start;
}

.list-item--mt-0 {
  margin-top: 0;
}

.list-item--mb-0 {
  margin-bottom: 0;
}

.list-item__item {
  margin-left: 17px;
}

.list-item__item--ml-0 {
  margin-left: 0;
}

.list-item__link {
  color: rgb(136, 146, 176);
  text-decoration: none;
  font-size: 13px;
  font-family: "Fira Code", monospace;
}

.list-item__link--big {
  font-size: 25px;
}

.list-item__link--medium {
  font-size: 20px;
}

.list-item__link:hover {
  text-decoration: underline;
  color: rgb(100, 255, 218);
}
