.other-project {
  height: 300px;
  padding: 30px 20px;
}

.other-project:hover {
  transform: translateY(-5px);   
}

.other-project__icon {
  font-size: 40px;
}

.other-project__body {
  flex-grow: 2
}

