.project {
  height: 400px;
  position: relative;
}

.project__feature {
  font-size: 15px;
}

.project__name {
  font-size: 27px;
}

.project__content {
  width: 45%;
}

.project__src {
  height: 400px;
}