.border-round {
    border-radius: 3px;
}

.border-0 {
    border: none;
}

.border-50 {
    border-radius: 50%;
}

.border-circle {
    border-radius: 50%;
}

.border-shadow-primary {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}