.header {
    padding: 0 50px;
    box-sizing: border-box;
}

.header__logo {
    width: 50px;
    height: 50px;
}

.header__list {
    flex-grow: 2;
    list-style: none;
}

.header__item{
    margin: 0px 10px;
    font-size: 13px;
}

.header__link {
}

.header__link:hover{
    color: var(--primary-txt-color);
}