
.list-content {
    list-style-type: none;
}

.list-content--col-two {
    columns: 2;
}

.list-content__item {
    box-sizing: border-box;
    line-height: 1.8;
}

.list-content__item::before {
    content: "▹";
    position: absolute;
    left: 0px;
    top: 15%;
    color: var(--primary-color);
    font-size: 14px;
    line-height: 12px;
}

