.header {
    padding: 0 5%;
    box-sizing: border-box;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.header__logo {
    width: 50px;
    height: 50px;
    fill: var(--primary-color);
}

.header__list {
    flex-grow: 2;
    list-style: none;
}

.header__item {
    margin: 0px 10px;
    font-size: 13px;
}

.header__link {}

.header__link:hover {
    color: var(--primary-color);
}