.info-contact {}

.info-contact__title {
    margin-top: 10px;
    font-size: 70px;
}

.info-contact__detail {
    line-height: 1.3;
    font-size: 17px;
}

.info-contact__typing-effect {
    overflow: hidden;
    border-right: 0.15em solid var(--primary-color);
    white-space: nowrap;
    display: flex;
    justify-content: flex-start;
    width: fit-content;
    animation: typing 3.5s steps(30, end), blink-caret .75s step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink-caret {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: var(--primary-color);
    }
}