.w-0 {
  width: 0;
}

.w-25 {
  width: 25%;
}

.w-50 {
  width: 50%;
}

.w-60 {
  width: 60%;
}

.w-75 {
  width: 75%;
}

.w-100 {
  width: 100%;
}

.h-0 {
  width: 0;
}

.h-25 {
  width: 25%;
}

.h-50 {
  width: 50%;
}

.h-75 {
  width: 75%;
}

.h-100 {
  width: 100%;
}

.h-primary {
  height: 100px;
}

